@font-face {
  font-family: 'Jost';
  font-style: normal;
  src: url('https://fonts.cdnfonts.com/s/21656/Jost400Book.woff') format('woff');
}
@font-face {
  font-family: kai sc;
  src: local('Kaiti'),local('Kaiti SC'),local('STKaiti'),local('楷体'),local('SimKai'),local('AR PL KaitiM GB'),local('DFKai-SB'),local('FandolKai'),url(https://cdn.jsdelivr.net/gh/yihui/cron/fonts/gkai00mp-yihui.woff2) format('woff2')
}
blockquote,.cn blockquote,.kai,.cn em,.cn .side,.hash-note,.hide-notes .toggle-notes {
  font-family: 'Linden Hill', palatino linotype,book antiqua,Palatino,kai sc,kai tc,serif
}
body {
  font-family: 'Linden Hill', 'Songti SC', 'Times New Roman';
}
code {
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 85%;
}
.menu, .meta-line, footer {
  font-family: Jost, Optima, Candara, sans-serif;
}
