{% extends "base.html" %}
{% import "macros/article.html" as post_macros %}

{% block header %}
<h1>{{ section.title }}</h1>
{% endblock header %}

{% block content %}
{{ section.content | safe }}

{% if paginator %}
{% set pages = paginator.pages %}
{% else %}
{% set pages = section.pages %}
{% endif %}

<ul class="titleList">
{% for page in pages %}
<article class="post">
  {{ post_macros::header(page=page) }}
  {{ post_macros::content(page=page) }}
</article>
{% endfor %}
</ul>

<nav class="pagination">
  {% if paginator.previous %}
      <a class="previous" href="{{ paginator.previous }}">‹ Previous</a>
  {% endif %}
  {% if paginator.next %}
      <a class="next" href="{{ paginator.next }}">Next ›</a>
  {% endif %}
</nav>
{% endblock content %}